<div class="card-container">
  <div class="header">
    <div class="close-icon">
      <span (click)="closeIconClickedFn()" class="icon">
        <i class="pi pi-times"></i>
      </span>
    </div>
    <p>
      {{ header }}
    </p>
  </div>
  <div cdkDropListGroup class="body">
    <ng-container *ngIf="content">
      <div
        cdkDrag
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="content"
        class="content"
        *ngFor="let x of content"
        cdkDropList
      >
        {{ x.name }}
      </div>
    </ng-container>
    <div class="info-no-task" *ngIf="content.length == 0">
      <p>
        No task is added yet.
      </p>
    </div>
  </div>
  <div class="footer">
    <p-button (click)="addTaskFn()" label="Add Task"></p-button>
  </div>
</div>
